/* ~~~~~~~~~~~~~~~~~~~~~ layout.scss */
$column-count: 12; 
$column-count-m: 9; 
$column-count-s: 4; 
$margin: 50;
$margin-m: 40;
$margin-s: 20;
$column-gap: 50;

/* ~~~~~~~~~~~~~~~~~~~~~ responsive values */
$desktop: 90rem;
$tablet: 70rem;
$mobile: 50rem;

/* ~~~~~~~~~~~~~~~~~~~~~ theme colors */
$lightness: #C2BCC8;
$darkness: #1F1C22;
$accent: #998FA3;

/* ~~~~~~~~~~~~~~~~~~~~~ typography */
$normal: "Grenze Gotisch", sans-serif;
$lightnessletter: "UnifrakturMaguntia", serif;

/* ~~~~~~~~~~~~~~~~~~~~~ other */
$easing: cubic-bezier(0.83, 0, 0.17, 1);