html {
    font-size: 0.8rem;

    @media screen and (min-width: $mobile) and (max-width: $desktop) {
        font-size: 0.95rem;
    }

    @media screen and (min-width: $desktop) {
        font-size: 1.1rem;
    }
}

body {
    background-color: $darkness;

    @media screen and (max-width: $mobile) {
        margin: 0;
        padding: 0;
    }

    * {
        color: $lightness;
        line-height: 1.5;
    }
}

.skip-link {
    display: block;
    position: absolute;
    left: -$desktop;
    top: -$desktop;
    background-color: $lightness;
    border: 2px solid $darkness;
    color: $darkness;
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 2.1rem;
    text-decoration: none;

    &:focus {
        left: 0;
        top: 0;
        outline: 2px solid $lightness;
    }
}

button.button {
    cursor: default;
}

.button {
    display: inline-block;
    background: transparent;
    border: 1px solid $lightness;
    font-weight: 500;
    padding: 0.45rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    &:hover,
    &:focus {
        background-color: $lightness;
        color: $darkness;
        outline: 2px solid $lightness;
        outline-offset: 5px;        
    }
}

.decorative--blend-mode{
    mix-blend-mode: multiply;
}

img {
    max-width: 100%;
}