.latest-post,
.post-preview {
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;
    margin-top: -1px;
    padding: 1.5rem 1.8rem 1.8rem 1.8rem;

    a {
        display: inline-block;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.2;
        border: 2px solid transparent;
        padding: 0.4rem 0.8rem;
        margin-left: -0.7rem;

        @media screen and (min-width: $desktop) {
            font-size: 2.25rem;
        }
    }
}

.latest-post {

    h2,
    p {
        margin-bottom: 0;
    }

    h2,
    h3 {
        margin: 0;
        padding: 0;
    }

    h2 {
        display: inline-block;
        margin-bottom: 1rem;
    }
}

.post-preview {

    p {
        line-height: 1.6;
    }

    h2,
    p {
        margin: 0;
        padding: 0;
    }

    time {
        display: inline-block;
        margin-top: 0.8rem;
        margin-bottom: 1.1rem;
    }
}