{% include header.html %}

<main id="mainContent" class="post pv">
    <article class="wo">
        <header class="post__header col-4-10 m-col-2-9">
            <h1 class="h1">
                {{ page.title }}
            </h1>
            <time class="post__date" datetime="{{ page.date }}">
                {{ page.date | date: "%B %e, %Y" }}
            </time>
        </header>

        <section class="wysiwyg col-4-10 m-col-2-9">
            {{ content }}
        </section>

    </article>
</main>


{% include footer.html %}